name: Documentation

on:
    push:
        branches:
            - main
        tags: "*"
    pull_request:

jobs:
    build:
        permissions:
            contents: write
            statuses: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: julia-actions/setup-julia@v2
              with:
                  version: "1.9"
            - name: Configure doc deployment
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  julia --project=docs/ -e '
                    using Pkg
                    Pkg.develop(PackageSpec(path=pwd()))
                    Pkg.instantiate()'
